$sm: 0; //Small screen / phone
$ph: 401px; // Phablet / in between mobile and tablet
$pm: 650px; //in between phablet and tablet
$md: 769px; // Medium screen / tablet
$sl: 990px; // Semi-large / in between tablet and desktop
$lg: 1100px; // Large screen / desktop
$xl: 1442px; // Extra large screen / wide desktop
$xxl: 1900px; // Double Extra large screens / wide monitor


//media query for responsiveness
@mixin sm { @media (min-width: #{$sm}) {@content;}}
@mixin ph { @media (min-width: #{$ph}) {@content;}}
@mixin pm { @media (min-width: #{$pm}) {@content;}}
@mixin md { @media (min-width: #{$md}) {@content;}}
@mixin sl { @media (min-width: #{$sl}) {@content;}}
@mixin lg { @media (min-width: #{$lg}) {@content;}}
@mixin xl { @media (min-width: #{$xl}) {@content;}}
@mixin xxl { @media (min-width: #{$xxl}) {@content;}}


html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
}

.Wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items:center;
}



@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;

    $angle: (218 / $item-count);
    $rot: 328;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate(35deg);
      }

      $rot: $rot + $angle;
    }
  }
}




.Trapezoid-Wrapper {

  @include sm {
    position: relative;
    @include on-circle($item-count: 13, $circle-size: 15em, $item-size: 2.8em);
    img {
      transition: .5s;
      max-width: 55px;
      max-height: 55px;
      width: auto;
      height: auto;
      &:hover {
        opacity: .3;
      }
    }
  }
  @include md {

  }
}


.Name-Wrapper {
  @include sm {
      position: absolute;
      img {
        height: auto;
        width: auto;
        max-width: 240px;
        max-height: 240px;
        transition: .3s;
        margin-top: -12%;
        margin-left: -8%;
        &:hover {
          opacity: .3;
        }
      }
  }

  @include md {


  }
}
