$sm: 0; //Small screen / phone
$ph: 401px; // Phablet / in between mobile and tablet
$pm: 650px; //in between phablet and tablet
$md: 769px; // Medium screen / tablet
$sl: 990px; // Semi-large / in between tablet and desktop
$lg: 1100px; // Large screen / desktop
$xl: 1442px; // Extra large screen / wide desktop
$xxl: 1900px; // Double Extra large screens / wide monitor


//media query for responsiveness
@mixin sm { @media (min-width: #{$sm}) {@content;}}
@mixin ph { @media (min-width: #{$ph}) {@content;}}
@mixin pm { @media (min-width: #{$pm}) {@content;}}
@mixin md { @media (min-width: #{$md}) {@content;}}
@mixin sl { @media (min-width: #{$sl}) {@content;}}
@mixin lg { @media (min-width: #{$lg}) {@content;}}
@mixin xl { @media (min-width: #{$xl}) {@content;}}
@mixin xxl { @media (min-width: #{$xxl}) {@content;}}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');


@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }



@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }






@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;

    $angle: (218 / $item-count);
    $rot: 322;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate(40deg);
      }

      $rot: $rot + $angle;
    }
  }
}



html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  pointer-events: auto;
  font-family: 'Barlow Condensed', sans-serif;
}

.opacityUp {
  opacity: 1;
  position: absolute;
  transition: .3s;
}

.opacityDown {
  opacity: .08;
  position: absolute;
    transition: .3s;
}


.fadeIn {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s; }



.fadeOut {
  -webkit-animation: fadeOut .5s forwards;
  -moz-animation: fadeOut .5s forwards;
  -o-animation: fadeOut .5s forwards;
  animation: fadeOut .5s forwards; }


.fadeInQuick {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s; }



  .fadeOutQuick {
    -webkit-animation: fadeOut .5s forwards;
    -moz-animation: fadeOut .5s forwards;
    -o-animation: fadeOut .5s forwards;
    animation: fadeOut .5s forwards; }


.Logo-Wrapper{
  -webkit-animation: rotateLogo 80s infinite linear;
   -moz-animation: rotateLogo 80s infinite linear;
   -o-animation: rotateLogo 80s infinite linear;
  animation: rotateLogo 80s infinite linear;
      position: absolute;
}




@-webkit-keyframes rotateLogo  {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-moz-keyframes rotateLogo  {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@-o-keyframes rotateLogo  {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes rotateLogo  {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}



@-webkit-keyframes blinkName  {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@-moz-keyframes blinkName  {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@-o-keyframes blinkName {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@keyframes blinkName  {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}




.Wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items:center;

}




.Trapezoid-Wrapper {

  @include sm {
    position: relative;
    @include on-circle($item-count: 13, $circle-size: 15em, $item-size: 2.0em);
    img {
      transition: .5s;
      max-width: 55px;
      max-height: 55px;
      width: auto;
      height: auto;
      &:hover {
        opacity: .3;
      }
    }
  }
  @include md {
    @include on-circle($item-count: 13, $circle-size: 22em, $item-size: 2.8em);
    img {
      max-width: 82.5px;
      max-height: 82.5px;
    }
  }
}


.Name-Wrapper {
  @include sm {
      cursor: pointer;
      position: absolute;
      img {
        height: auto;
        width: auto;
        max-width: 247px;
        max-height: 247px;
        transition: .3s;
        margin-top: -13%;
        margin-left: -13%;
        // -webkit-animation: blinkName 1s infinite;
        // -moz-animation: blinkName 1s infinite;
        // -o-animation: blinkName 1s infinite;
        // animation: blinkName 1s infinite;
        &:hover {
          opacity: .3;
        }
      }



  }

  @include md {
    img {
      max-width: 365px;
      max-height: 365px;
      margin-top: -14%;
      margin-left: -13.5%;
    }
  }
}

.About-Wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  cursor: pointer;
  p {
    @include sm {
      text-align: center;
      font-size: 1.2em;
      margin: 0 10% 0% 10%;
    }

    @include md {
      font-size: 1.6em;
      margin: 0 15% 0% 15%;
    }

    @include lg {
      font-size: 1.6em;
      margin: 0 20% 0% 20%;
    }

    @include xl {
      font-size: 1.6em;
      margin: 0 28% 0% 28%;
    }

  }
  }

  .Artist-Wrapper {
    @include sm {
      display: none;
    }
    @include md {
      display: flex;
      height: 100%;
      width: 100%;
      color: #2a2a2a;
      justify-content: center;
      align-content: center;
    }

  }

  .Artist-Wrapper-Mobile {
    @include sm {
      display: flex;
      height: 100%;
      width: 100%;
      color: #2a2a2a;
      justify-content: center;
      align-content: center;
    }
    @include md {
      display: none;
    }
  }


  .Name1 {
    @include sm {
        font-size: 1em;
        align-self: center;
        color: #808080;
        -webkit-animation: fadeIn .5s;
        -moz-animation: fadeIn .5;
        -o-animation: fadeIn .5s;
        animation: fadeIn .5s;
    }

    @include md {
        font-size: 1.7em;
    }
  }
